<div style="margin: 20px">
  <P>Query</P>
  <mat-progress-bar mode="query" [value]="percentage"></mat-progress-bar>
</div>
<div style="margin: 20px">
  <P>Buffer</P>
  <mat-progress-bar mode="buffer" [value]="percentage"></mat-progress-bar>
</div>
<div style="margin: 20px">
  <P>Determinate</P>
  <mat-progress-bar mode="determinate" [value]="percentage"></mat-progress-bar>
</div>
<div style="margin: 20px">
  <P>Indeterminate</P>
  <mat-progress-bar mode="indeterminate" [value]="percentage"></mat-progress-bar>
</div>
