<div style="margin: 20px">
  <section>
    <div class="example-label">Basic</div>
    <div class="example-button-row">
      <button mat-button>Basic</button>
      <button mat-button color="primary">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button disabled>Disabled</button>
    </div>
  </section>
</div>


<div style="margin: 20px">
  <section>
    <mat-button-toggle-group [(ngModel)]="textValue" aria-label="Font Style">
      <mat-button-toggle style="background-color: red" value="bold">Bold</mat-button-toggle>
      <mat-button-toggle style="background-color: blue" value="italic">Italic</mat-button-toggle>
      <mat-button-toggle style="background-color: white" value="underline">Underline</mat-button-toggle>
    </mat-button-toggle-group>
    <h4>Text value is: {{textValue}}</h4>
  </section>
</div>
